<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\AbstractBlock">
        <plugin name="Backendorf_Installment_Plugin_Block_Price"
                type="Backendorf\Installment\Plugin\Block\Price"
                sortOrder="10"/>
    </type>
</config>
